<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHutService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHutService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2112/Hut" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHutService" contract="ServiceReference1.IHutService"
                name="BasicHttpBinding_IHutService" />
            <endpoint address="net.tcp://localhost:1221/Hut" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IHutService" contract="ServiceReference1.IHutService"
                name="NetTcpBinding_IHutService">
                <identity>
                    <userPrincipalName value="DESKTOP-8FST53U\Dell" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>