<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBookShop" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SimpleService/BookShopService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookShop"
                contract="ServiceReference1.IBookShop" name="BasicHttpBinding_IBookShop" />
        </client>
    </system.serviceModel>
</configuration>