<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBookShop" />
                <binding name="BasicHttpBinding_IOnCard" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BookService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookShop"
                contract="ServiceReference1.IBookShop" name="BasicHttpBinding_IBookShop" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BookService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnCard"
                contract="ServiceReference1.IOnCard" name="BasicHttpBinding_IOnCard" />
        </client>
    </system.serviceModel>
</configuration>